<!--
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
-->

<%@ page contentType="text/html;charset=UTF-8" %>

    <g:if test="!${resultado}">
        <div class = "message"> ${flash.message}
        </div>    
    </g:if>  
<br/>
    
    <g:each in="${resultado}" status="i" var="tupla">
        <table width="300px">
        <center>    
        <tr>  
          <td>NOME</td>   
          <td>CPF</td>
          <td>TELEFONE</td>
        </tr>  
        <tr>
          <td>${fieldValue(bean:tupla, field:'nome')}</td>
          <td>${fieldValue(bean:tupla, field:'cpf')}</td>
           <td>${fieldValue(bean:tupla, field:'telefone')}</td>
        </tr> 
        </table>
    </g:each>